#painelControle{
    width: 90%;
    height: 90%;
}
header{
    width: 100%;
    height: 18%;
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    margin-right: 150px;
}
#logoCms img{
    width: 150px;
    height: 90px;
}
#menu{
    width: 100%;
    height: 20%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnFuncitonAdm{
    width: 175px;
    height: 90px;
    display: inline;
    justify-content: center;
    align-items: center;
}
.btnStyle{
    background-color: transparent;
    border: none;
}
.btnStyle:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(198, 198, 198, 1.0);
}

.btnStyle img{
    width: 100%;
    height: 100%;
}
#menu .menuBtn{
    outline-style: none;
    width: 70px;
    height: 60px;
    margin-left: 50px;
}
.titleBtn{
    margin-left: 15px;
}

.user{
    width: 250px;
    height: 75px;
    margin-left: 15px;
    display: inline;

}
#userName{
    margin-top: -10px;
}
#userLoggout{
    margin-left: 140px;
    margin-top: -5px;
    text-decoration: underline
}

#functionAdm{
    width: 100%;
    min-height: 55%;
    height: auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#consultaDeDados{
    width: 1150px;
    min-height: 150px;
    height: auto;
    border: solid 1px black;
    
}
#tblConsulta{
    width: 100%;
    min-height: 30px;
    height: auto;
}
#tblTitulo{
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 1.6em;
}
#tblLinhas{
    width: 100%;
    height: 50px;
    border: solid 1px black;
}
.tblColunas{
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: var(--color-primary-header);
    border: solid 1px black;
}
.tblImagens{
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
.excluir, .pesquisar, .editar{
    width: 30px;
    height: 30px;
   /* background-color: black; */
    float: left;
    margin-left: 5px;
    cursor: pointer;
}


#visualizar{
    width: 1000px;
    height: 800px;
    border: solid 1px #000000;
    margin-left: auto;
    margin-right: auto;
}

#visualizar table, #visualizarContato{
    width: inherit;
    height: inherit;
}

#visualizar table tr, #visualizarContato tr{ 
    height: 20px;
}

#visualizar table tr td, #visualizarContato tr td{
    width: 50%;
    border: solid 1px #cccccc;
}

.visualizarTitulo{
    background-color: darkcyan;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

#modalContainer{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 999;
    display: none;
}

#modal{
    width: 800px;
    height: 500px;
    margin: 150px auto;
    background: #ffffff;
} 
.listAdm{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaConteudo {
    width: auto;
    min-height: 250px;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .listaConteudo a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
  }
  .item{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
    text-align: center;
}
.btnItem{
    background-color: rgba(230, 230, 230, 1);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-left: 10px;

    text-decoration: none;
}
.btnItem:hover{
    background-color: rgba(198, 198, 198, 1.0);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 2px solid black;
    border-radius: 0px 0px 10px 10px;
}
footer #dev{
    font-weight: 700;
}
footer #name{
    font-weight: 400;
}

