nav{
    position: fixed;
    margin-left: 1190px; 
}

.btnSociais{
    width: 80px;
    height: 80px;

    margin-bottom: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnFace{
    background-color: #3b5998;
}
#btnInsta{
    background-color: #405DE6;
}
#btnTwitter{
    background-color: #1DA1F2;
}

.btnSociais img{
    width: 50px;
    height: 50px;
    display: flex;
}
.btnSociais:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #0e6bcf;
}

#username, #senha{
    width: 200px;
    height: 25px;
}

.sliderLandingPage{
    width: 1150px;
    height: 450px;
    margin-top: 90px;
    margin-left: 15px;
}

.divProdutos{
    width: 1150px;
    height: 1000px;
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
}
.menuProduto{
    width: 250px;
    height: 98%;
    border-radius: 10px;
    border: 1px solid  #000000;
}
.btnItemMenu{
    width: 96%;
    height: 70px;
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.btnItemMenu:hover{
    background-color: var(--color-primary-button);
    transition: 0.6s;
}

.divPesquisa{
    display: inline;
    align-items: center;
    justify-content: center;
}

.divPesquisa span{
    font-size: 2.2rem;
}
.barraPesquisa{
    width: 900px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#pesquisa{
    width: 500px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    
}

#btnBuscar{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listaProdutosLinha1{
    width: 900px;
    height: 350px;
    margin-bottom: 15px;
    display: flex;
    padding-left: 15px;
}
.listaProdutosLinha2{
    width: 900px;
    height: 350px;
    margin-top: 15px;
    display: flex;
    padding-left: 15px;

}
.vendaProduto{
    width: 275px;
    height: 300px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.imageProduto{
    width: 75%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #0e6bcf;
}

.btnSaibaMais{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 105px;
    cursor: pointer;
}

#sobre{
    width: 1150px;
    height: 250px;
    margin-left: 15px;
}

.conteudo h1{
    display: inline;
    padding-left: 20px;
}
.divProdutosDestaque{
    width: 1150px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produtoDestaque{
    width: 300px;
    height: 400px;
}

.imageProdutoDestaque{
    width: 75%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 50%;
    background-color: #0e6bcf;
}
.produtoDestaque span{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produtoDestaque .btnSaibaMais{
    margin-left: 75px;
}
.divprodutoPromocao{
    width: 1150px;
    height: 700px;

}
.produtoPromocao{
    width: 275px;
    height: 300px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
}
.produtoPromocao .btnSaibaMais{
    margin-left: 50px;
}
.promocaoline1{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.promocaoline2{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.produtoPromocao span{
    color: #717572;
    padding-right: 50px;
}
.produtoPromocao .btnSaibaMais{
    margin-top: 40px;
}

input{
    border-radius: 10px; 
} 

input{
    border-radius: 10px 10px; 
}
button{
    border-radius: 10px;
    background-color: var(--color-primary-button);
}
button:hover{
    border-radius: 10px;
    background-color: var(--color-secondary-button);
}

footer{
    width: 100%;
    height: 90px;
    background-color: var(--color-primary-header);
}
.copyright p{
    display: inline-block;
}
.copyright span{
    margin-left: 150px;
    font-size: 1.9rem;
}
.copyright{
    width: 500px;
    height: 70px;  
    margin-left: 100px;
}